HTTP_PORT=3000
SIMULATE_PLC=true
ORCHESTRATOR_TICK_MS=300
HEARTBEAT_INTERVAL_MS=1000
HEARTBEAT_TIMEOUT_MS=3000
MAX_RETRIES_PER_STEP=3
BASE_BACKOFF_MS=500
COMMAND_ACK_TIMEOUT_MS=2000
MODBUS_RETRY_ATTEMPTS=3
MODBUS_RETRY_BACKOFF_MS=300
MODBUS_COMMAND_REGISTER=0
MODBUS_VERIFY_REGISTER=1
MODBUS_RESPONSE_REGISTER=2
